header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.login-button {
  width: 133px;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: var(--secondary-font-color);
  border: 1.5px solid var(--secondary-font-color);
  background-color: white;
}

.search-button {
  width: 24px;
  height: 24px;
}

.search-button-icon {
  width: 100%;
  height: 100%;
  display: block;
  background: url('../img/search.svg') center/cover no-repeat;
}

.search-bar {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-left {
    width: 60%;
    display: flex;
  }

  .header-left img {
    width: 30%;
  }

  .search-button {
    display: none;
  }

  .search-bar {
    display: flex;
    width: 70%;
    align-items: center;
    padding-left: 32px;
  }

  .search-bar-input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F5F5F5;
  }

  .search-bar-input:focus {
    outline: none;
  }

  .search-bar-input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--placeholder-color);
  }

  input[type="search" i] {
    color: var(--primary-font-color);
    box-sizing: border-box;
    padding-left: 16px;
  }

  .search-bar-input::-webkit-search-cancel-button{
    display: none;
  }

  .search-bar-button {
    width: 20px;
    height: 20px;
  }

  .search-bar-icon {
    width: 100%;
    height: 100%;
    display: block;
    background: url('../img/search-icon-placeholder.svg') center/cover no-repeat;
    transform: translateX(-36px);
  }
}

@media only screen and (min-width: 922px) {
  header {
    padding: 32px 0;
  }

  .header-left {
    width: 60%;
  }

  .header-left img {
    width: 30%;
  }

  .search-button {
    display: none;
  }
}