:root {
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #eaf2fd;
  --primary-font-color: #464646;
  --secondary-font-color: #2A7AE4;
  --contrast-font-color: #ffffff;
  --placeholder-color: #a2a2a2;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--primary-font-color);
}

.container {
  width: 92%;
  height: fit-content;
  margin: auto;
}

.button {
  font-family: "Raleway", sans-serif;
  border: none;
  background: none;
}

.hero-button {
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: white;
  background-color: var(--secondary-font-color);
  border: none;
  padding: 12px 16px;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}