:root {
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #eaf2fd;
  --primary-font-color: #464646;
  --secondary-font-color: #2A7AE4;
  --contrast-font-color: #ffffff;
  --placeholder-color: #a2a2a2;
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--primary-font-color);
}

.container {
  width: 92%;
  height: fit-content;
  margin: auto;
}

.button {
  font-family: "Raleway", sans-serif;
}

a:hover {
  text-decoration: underline;
}